<div class="card">
    <iframe>
        <img src="https://placehold.com/600x400" alt="Portada del Documento" id="cover">
    </iframe>
    <div class="card-body">
        <div class="card-header">
            <span id="type">Tipo de Documento</span>
            <h3 id="title">Título del Documento</h3>
            <p id="autors">Autor del Documento</p>
            <p id="published">Fecha de Publicación</p>
        </div>
        <div class="card-info">
            <p id="description">Descripción del documento.</p>
        </div>
    </div>
    <div class="card-actions">
        <div class="dropdown">
            <button class="drop-btn"></button>
            <div class="dropdown-content">
                <a href="#" data-action="view">Ver Detalle</a>
                <a href="#" data-action="edit">Editar</a>
                <a href="#" data-action="delete">Eliminar</a>
            </div>
        </div>
    </div>
</div>