:root {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  /* Tema claro */
  [data-theme="light"] {
    --background-color: #fff;
    --text-color: #333;
    --navbar-bg-color: #f4f4f4;
    --navbar-border-color: #ddd;
    --card-bg-color: #232954;
    --card-text-color: #fff;
    --border-color: #ddd;
    --button-bg-color: #ddd;
    --button-text-color: #232954;
    --button-hover-bg-color: #0056b3;
    --button-hover-text-color: #f4f4f4;
  }

  /* Tema Oscuro */
  [data-theme="dark"] {
    --background-color: #1e1e1e;
    /* Un gris más oscuro para el fondo */
    --text-color: #e0e0e0;
    /* Texto más claro para mejor visibilidad */
    --navbar-bg-color: #262626;
    /* Mantenido para el fondo de la barra de navegación */
    --navbar-border-color: #444;
    /* Color de borde más tenue */
    --card-bg-color: #2c2c2c;
    /* Fondo de tarjeta más oscuro */
    --card-text-color: #f4f4f4;
    /* Texto de tarjeta claro */
    --border-color: #444;
    /* Color de borde oscuro */
    --button-bg-color: #444;
    /* Fondo de botón oscuro */
    --button-text-color: #fff;
    /* Texto blanco en botones */
    --button-hover-bg-color: #007bff;
    /* Azul más brillante para el hover */
    --button-hover-text-color: #fff;
    /* Texto blanco en hover */
  }
}

/* General transition for the body and other elements */
body, .navbar, .card, aside, main {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* Add transitions to buttons */
button, .toggle-theme-btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Reglas Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Reglas Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg-color);
  border-bottom: 2px solid var(--navbar-border-color);
  padding: 15px 20px;
}

.navbar-logo {
  display: block;
  width: 30%;
}

.navbar-logo h1 {
  font-size: 0px;
  background-image: url("../images/logo_IISEC.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #0056b3;
}

/* Reglas Index */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 30px;
}

main {
  width: 70%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--navbar-bg-color);
  border-radius: 20px;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-color: #ddd var(--navbar-bg-color);
  scrollbar-width: none;
  border: 2px solid var(--border-color);
}

main h2 {
  font-weight: bold;
}

aside {
  width: 30%;
  height: 80vh;
  padding: 20px;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  border: 2px solid var(--border-color);
  color: var(--card-text-color);
}

/* Reglas Card */
.card {
  display: flex;
  height: 250px;
  padding: 20px;
  gap: 20px;
  border: var(--text-color) 1px solid;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  margin-top: 10px;
}

.card iframe {
  width: 20%;
  height: 100%;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.card .card-body .card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .card-body .card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .card-body .card-header span {
  font-size: 18px;
  font-weight: thin;
  margin-bottom: 10px;
}

.card .card-body .card-header h3 {
  font-size: 20px;
  font-weight: bold;
  grid-column: 1 / 3;
}

.card .card-body .card-header p {
  font-size: 14px;
  font-weight: bold;
}

.card .card-info p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  /* Número de líneas antes de cortar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

.card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
}

/* Estilos para el botón de acciones y el menú desplegable */
.dropdown {
  position: relative;
  /* Esto permite que el contenido absoluto se posicione relativo a este contenedor */
  display: inline-block;
  /* O cualquier otro display que se ajuste a tu diseño */
}

.drop-btn {
  background-color: #f9f9f9;
  background-image: url("../images/actions.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 50%;
  top: 50%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Reglas Form */
aside .advanced-search{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group,
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group label, .form-group label {
  font-size: 18px;
  font-weight: bold;
  color: var(--card-text-color);
}

.input-group select,
.form-group select {
  border: 1px solid #000;
  padding: 10px;
  font-size: 15px;
  outline: none;
  background-color: white;
  padding-right: 30px;
  border-radius: 10px;
}

.input-group input,
.form-group input {
  border: 1px solid #000;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 10px;
}

.advanced-search .input-group button,
.input-group button,
#document-form button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.advanced-search .input-group button:hover,
.input-group button:hover,
#document-form button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

/* Reglas Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--navbar-bg-color);
  border-radius: 30px;
  border: 2px solid var(--border-color);
}

.login-form img {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Estilos para el botón de cambio de tema */
.toggle-theme-btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.toggle-theme-btn:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}


/* Tarjetas resumen - reportes */
.summary-container {
  display: flex;
  justify-content: space-between; /* Cambiado para ajustar el espacio entre tarjetas */
  gap: 15px; /* Reducción del espacio entre tarjetas */
  margin-bottom: 15px; /* Menor separación inferior */
}

.summary-card {
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border: 1px solid var(--border-color);
  border-radius: 8px; /* Bordes menos redondeados */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
  width: 32%; /* Ajustado para una fila de tres tarjetas más pequeñas */
  height: 120px; /* Reducido para hacer la tarjeta más compacta */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Padding reducido */
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.summary-card h3 {
  font-size: 1em; /* Tamaño de fuente reducido */
  margin-bottom: 5px; /* Menor separación entre título y contenido */
  color: var(--card-text-color);
  transition: color 0.3s ease;
}

.summary-card p {
  font-size: 0.9em; /* Tamaño de texto reducido */
  margin: 0;
  font-weight: bold;
  color: var(--card-text-color);
  transition: color 0.3s ease;
}

/* Formulario de reportes */
#report-form {
  padding: 15px; /* Padding reducido */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre campos del formulario reducido */
}

/* Filtro de reportes */
.report-filter {
  gap: 15px;
  width: 25%; /* Ajustado para dar más espacio al contenedor de resultados */
}

.chart-selection h3 {
  margin: 0;
  font-size: 1em;
  color: var(--text-color);
}

.chart-selection label {
  font-size: 0.9em;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.report-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.chart-selection {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--background-color);
  border: var(--border-color) 2px solid;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.report-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}




/* Listado de resultados */
.report-container ul {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacio reducido */
  list-style: none;
  padding: 10px; /* Padding reducido */
  background-color: var(--text-color);
  border-radius: 8px;
}

.report-container ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px; /* Padding reducido */
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-radius: 8px;
  font-size: 0.9em; /* Fuente reducida */
}


#document-form {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  border: var(--border-color) 2px solid;
}

#document-form .form-group textarea {
  height: 250px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
}

#abstract-group,
#observacion-group,
#msj_clave-group {
  grid-column: 1 / 3;
}

#document-form button {
  grid-column: 1 / 3;
}

.document-details .details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.document-details .details .info {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  gap: 10px;
}


/* Estilos de botones para paginacion*/
#pagination-controls {
  text-align: center; 
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los botones y la información de la página */
}
#prev-page,
#next-page {
    background-color:#3c4271; /* Azul */
    color: white; /* Letras blancas */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}
#prev-page:hover,
#next-page:hover {
    background-color: #3c4271; /* Un azul más oscuro para el hover */
}

.edit-actions {
  grid-column: 1 / 3;
  display: flex;
  gap: 10px;
}


/* Contenedor de los botones en línea */
.button-group {
  display: flex;
  gap: 5px; /* Espacio entre botones */
  justify-content: flex-start; /* Alinea los botones al inicio */
}

/* Estilo para botones aún más pequeños */
.btn-small {
  padding: 3px 8px; /* Tamaño más reducido */
  font-size: 0.8em; /* Tamaño de fuente más pequeño */
  border: none;
  border-radius: 3px;
  background-color: var(--button-bg-color, #444);
  color: var(--button-text-color, #fff);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover para botones */
.btn-small:hover {
  background-color: var(--button-hover-bg-color, #007bff);
  color: var(--button-hover-text-color, #fff);
}

.order{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.order h3{
  grid-column: 1 / 3;
}

.order input{
  grid-column: 1 / 2;
}

.graph-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: var(--card-bg-color);
  border: var(--border-color) 2px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

