<div class="card">
    <img id="cover" class="card-img-top" src="https://placehold.com/600x400" alt="Portada del Documento">
    <div class="card-body">
        <h3 class="card-title"><strong>Título:</strong> <span id="title">Título del Documento</span></h3> 
        <p class="card-subtitle"><strong>Tipo de Documento:</strong> <span id="type">Tipo de Documento</span></p> 
        <p class="card-text"><strong>Autor(es):</strong> <span id="autors">Autor(es)</span></p> 
        <p class="card-text"><strong>Año de Publicación:</strong> <span id="published">Año de Publicación</span></p> 
        <p class="card-text"><strong>Editorial:</strong> <span id="editorial">Editorial</span></p>
        
        <!-- Campos adicionales artículos -->
        <p class="card-text" id="nombre_revista" style="display: none;"><strong>Nombre de la Revista:</strong> <span id="revista"></span></p>
        <p class="card-text" id="numero_articulo" style="display: none;"><strong>Número de Artículo:</strong> <span id="articulo"></span></p>

        <!-- Campos adicionales capítulos de libros -->
        <p class="card-text" id="titulo_libro" style="display: none;"><strong>Título del Libro:</strong> <span id="libro"></span></p>

        <!-- Campo adicional para documentos de trabajo -->
        <p class="card-text" id="institucion" style="display: none;"><strong>Institución:</strong> <span id="institucion-text"></span></p>

        <div class="card-info">
            <p class="card-text"><strong>Descripción:</strong> <span id="description">Descripción del documento.</span></p> 
        </div>
    </div>
    <div class="card-actions">
        <div class="dropdown">
            <button class="drop-btn"></button>
            <div class="dropdown-content">
                <a href="#" data-action="view">Ver Detalle</a>
                <a href="#" data-action="edit">Editar</a>
                <a href="#" data-action="delete">Eliminar</a>
            </div>
        </div>
    </div>
</div>
