<div class="card">
    <img id="cover" class="card-img-top" src="https://placehold.com/600x400" alt="Portada del Documento">
    <div class="card-body">

        <!-- Campo Título (Igual para todos los documentos) -->
        <h3 class="card-title"><strong>Título:</strong> <span id="title">Título del Documento</span></h3>
        <p class="card-subtitle"><strong>Tipo de Documento:</strong> <span id="type">Tipo de Documento</span></p>
        <p class="card-text"><strong>Autor(es):</strong> <span id="authors">Autor(es)</span></p>
        <p class="card-text"><strong>Año de Publicación:</strong> <span id="published">Año de Publicación</span></p>
        
        <!-- Campo Editorial (Para Libros, Artículos de Revistas y Capítulos de Libros) -->
        <p class="card-text" id="editorial" style="display: none;"><strong>Editorial:</strong> <span id="editorial-text">Editorial</span></p>
        
        <!-- Campo Número de Artículo y Nombre de la Revista (Para Artículos de Revistas) -->
        <!-- 
        <p class="card-text" id="numero_articulo" style="display: none;"><strong>Número de Artículo:</strong> <span id="article-number">Número del Artículo</span></p>
        -->
        <p class="card-text" id="nombre_revista" style="display: none;"><strong>Nombre de la Revista:</strong> <span id="revista">Nombre de la Revista</span></p>
        
        <!-- Campo Editores (Para Capítulos de Libros) -->
        <p class="card-text" id="editores" style="display: none;"><strong>Editores:</strong> <span id="editors">Editores</span></p>
        
        <!-- Campo Descripción (Para Documentos de Trabajo, Articulos Libro y Libros) -->
        <div class="card-info" id="descripcion" style="display: none;">
            <p class="card-text" ><strong>Descripción:</strong> <span id="description">Descripción del documento.</span></p> 
        </div>
        
        <!-- Campo Observacion (Para Ideas y Reflexiones y Info IISEC) -->
        <div class="card-info" id="observacion" style="display: none;">
            <p class="card-text"><strong>Observación:</strong> <span id="observation">Observación del documento.</span></p> 
        </div>

        <!-- Campo Mensaje Clave (Para Policy and Briefs) -->
        <div class="card-info" id="msj_clave" style="display: none;">
            <p class="card-text"><strong>Mensaje Clave:</strong> <span id="msj_claves">Mensaje Clave del documento.</span></p> 
        </div>

        <!-- Campo Link PDF (Igual para todos los documentos) -->
        <!--
        <p class="card-text"><strong>Link PDF:</strong> <span id="linkpdf">Link PDF</span></p>
        -->
 
    </div>
    <div class="card-actions">
        <div class="dropdown">
            <button class="drop-btn"></button>
            <div class="dropdown-content">
                <a href="#" data-action="view">Ver Detalle</a>
                <a href="#" data-action="edit">Editar</a>
                <a href="#" data-action="delete">Eliminar</a>
            </div>
        </div>
    </div>
</div>
