<!DOCTYPE html>
<html lang="es" id="html-root">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        // Leer la cookie directamente y establecer el atributo de tema al cargar la página
        (function () {
          function getCookieValue(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null;
          }
    
          const theme = getCookieValue('theme') || 'light'; // Default a 'light' si no hay cookie
          document.documentElement.setAttribute('data-theme', theme);
        })();
      </script>
    <link rel="stylesheet" href="../css/styles.css">
    

</head>

<body>
    <div class="login-container">
        <form class="login-form" id="login-form">
            <img src="../images/logo_IISEC.png" alt="">
            <div class="input-group">
                <h3>Nombre de Usuario:</h3>
                <input type="text" name="user" id="user">
            </div>
            <div class="input-group">
                <h3>Contraseña</h3>
                <input type="password" name="password" id="password">
            </div>
            <div class="input-group">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</body>
<script src="../js/services/login_service.js" type="module"></script>

</html>