<!DOCTYPE html>
<html lang="es" id="html-root" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const body = document.body;

            // Aplicar el tema almacenado en localStorage
            const storedTheme = localStorage.getItem('theme') || 'light';
            body.setAttribute('data-theme', storedTheme);
            console.log('Tema almacenado aplicado:', storedTheme);

            // Cargar el componente de navegación
            fetch('../components/menu_navegacion.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('menu-container').innerHTML = data;

                    // Ahora que el componente está cargado, agregar el event listener
                    const themeToggleButton = document.getElementById('theme-toggle');
                    if (themeToggleButton) {
                        console.log('Botón de cambio de tema encontrado');
                        themeToggleButton.addEventListener('click', function () {
                            const currentTheme = body.getAttribute('data-theme');
                            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
                            body.setAttribute('data-theme', newTheme);
                            localStorage.setItem('theme', newTheme);
                            console.log('Tema cambiado a:', newTheme);
                        });
                    } else {
                        console.log('Botón de cambio de tema no encontrado');
                    }
                })
                .catch(error => console.error('Error al cargar el componente de navegación:', error));
        });
    </script>
    <link rel="stylesheet" href="../css/styles.css">
    

</head>

<body>
    <div class="login-container">
        <form class="login-form" id="login-form">
            <img src="../images/logo_IISEC.png" alt="">
            <div class="input-group">
                <h3>Nombre de Usuario:</h3>
                <input type="text" name="user" id="user">
            </div>
            <div class="input-group">
                <h3>Contraseña</h3>
                <input type="password" name="password" id="password">
            </div>
            <div class="input-group">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</body>
<script src="../js/services/login_service.js" type="module"></script>

</html>