<!DOCTYPE html>
<html lang="es" id="html-root">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Logs</title>
    <script>
        // Leer la cookie directamente y establecer el atributo de tema al cargar la página
        (function () {
          function getCookieValue(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null;
          }
    
          const theme = getCookieValue('theme') || 'light'; // Default a 'light' si no hay cookie
          document.documentElement.setAttribute('data-theme', theme);
        })();
      </script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="menu-container"></div>
        <div class="container">  
            <div class="users-table">
                <div class="input-group">
                    <h3>Filtrado de Logs:</h3>
                    <select name="document-type" id="type-selector-logs">
                        <option value="null" disabled selected>Escoge una opción</option>
                        <option value="all-logs">Obtener todos</option>
                        <option value="login">Login y Logout</option>
                        <option value="documento">Documentos</option>
                    </select>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Accion</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="module" src="../js/handlers/logs_handler.js"></script>
    <script src="../js/main.js" type="module"></script>
</body>

</html>