<!DOCTYPE html>
<html lang="es" id="html-root" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurar Archivos</title>
    

    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="menu-container"></div>
    <div class="container">
        <div class="restore-table">
            <div class="input-group">
                <h3>Tipo de Archivo:</h3>
                <select name="document-type" id="type-selector">
                    <option value="">Escoge una opción</option>
                    <option value="all-types">Todos</option>
                    <option value="libros">Libros</option>
                    <option value="articulos-revistas">Artículos</option>
                    <option value="capitulos-libros">Capítulos</option>
                    <option value="documentos-trabajo">Documentos de Trabajo</option>
                    <option value="ideas-reflexiones">Ideas y Reflexiones</option>
                    <option value="info-iisec">Info IISEC</option>
                    <option value="policies-briefs">Policy and Briefs</option>
                </select>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Año de Publicacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</body>
<script type="module" src="../js/handlers/user_handlers.js"></script>
<script type="module" src="../js/main.js"></script>

</html>