<!DOCTYPE html>
<html lang="es" id="html-root">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <script>
        // Leer la cookie directamente y establecer el atributo de tema al cargar la página
        (function () {
          function getCookieValue(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null;
          }
    
          const theme = getCookieValue('theme') || 'light'; // Default a 'light' si no hay cookie
          document.documentElement.setAttribute('data-theme', theme);
        })();
      </script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="menu-container"></div>
    <div class="container">
        <div class="users-table">
            <div class="input-group">
                <button type="button" id="add-user-button">Añadir Usuario</button>
            </div>
            <div id="add-user-modal" class="modal"></div>
            <table>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="../js/handlers/user_handlers.js"></script>
    <script src="../js/main.js" type="module"></script>
</body>

</html>